{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Reviews</h1>
        </div>
    </div>
    {% for review in reviews %}
        <div class="row">
            <div class="col">
                <h2>{{ review.review_title }}</h2>
                <p>{{ review.review_body }}</p>
                <p>Rating: {{ review.rating }}</p>
                <p>Reviewed on {{ review.review_date }} by {{ review.reviewer_name }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col">
                   <a href="{% url 'add_review' %}" class="btn brand-color">Add a review&nbsp;&nbsp;<i class="fa fa-square-plus"></i></a> 
                </div>
            </div>
        {% endif %}
</div>
{% endblock %}