{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row mb-2">
            <div class="col">
            <h2 class="logo-font">Shopping Bag</h2>
            </div>
        </div>
        {% if not minimum_value_met and bag_items %}
            <div class="row">
                <div class="col">
                    <p class="text-danger">The minimum order value is £{{ minimum_order_value }}. You need to spend <strong>£{{ minimum_order_delta|floatformat:2 }} more</strong> excluding delivery in order to check out.</p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <table class="table table-striped">
                        <thead>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </thead>
                    {% for item in bag_items %}
                        <tr>
                            <td><strong>{{ item.product.name }}</strong></td>
                            <td>£{{ item.product.price }}</td>
                            <td>
                                <form class="form update-form" method="POST" action="{% url 'alter_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <input class="form-control form-control-sm w-50 qty_input" type="number" name="qty" value="{{ item.quantity }}" min="1"
                                        max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                </form>
                                <a class="update-link text-info"><small>Update</small></a> |
                                <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                            </td>
                            <td>£{{ item.product.price | calc_subtotal:item.quantity }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td colspan="4" class="pt-5 text-right">
                                <h6><strong>Items Total: £{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <p>Your bag is empty</p>
                {% endif %}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <a href="{% url 'products' %}" class="btn btn-outline btn-lg"><i class="fa fa-arrow-left"></i> Keep Shopping</a>
            </div>  
        </div>
        <div class="row">
            <div class="col">
                {% if not minimum_value_met or not bag_items %}
                    <a href="#" class="btn btn-dark btn-lg disabled">Check out securely <i class="fa fa-lock"></i></a>
                {% else %}
                    <a href="#" class="btn btn-dark btn-lg">Check out securely <i class="fa fa-lock"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <!-- Code taken from Code Institute Course Boutique Ado walkthrough -->
    <script type="text/javascript">

        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('size');
            var url = `/bag/remove/${itemId}`;
            var data = { 'csrfmiddlewaretoken': csrfToken, 'size': size };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    </script>
    {% endblock %}