{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container mt-3 offset-1">
    <div class="row">
        <div class="col">
            <h2 class="logo-font">Server Error</h2>
            <hr>
        </div>
    </div>
        <div class="row">
            <div class="col">
                <p>There seems to be an error with this page.</p>
                <p><a href="/">Return to the home page.</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}