{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="logo-font">Delivery Drivers</h1>
            <hr>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Staff Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                    </tr>
                </thead>
                {% for member in staff %}
                    <tr>
                        <td>{{ member.staff_number }}</td>
                        <td>{{ member.first_name }}</td>
                        <td>{{ member.last_name }}</td>
                        <td><a href="{% url 'driver_detail' member.id %}">View</a>
                             | <a href="{% url 'edit_driver' member.id %}">Edit</a>
                              | <a href="{% url 'delete_driver' member.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'add_driver' %}" class="btn brand-color">Add a delivery driver&nbsp;&nbsp;<i class="fa fa-square-plus"></i></a>
        </div>
    </div>
</div>
{% endblock %}